<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="udemysel.udemysel.Assignment5Test"/>
      <class name="udemysel.udemysel.Assignment3Test"/>
      <class name="udemysel.udemysel.Assignment4Test"/>
      <class name="udemysel.udemysel.Assignment6Test"/>
      <class name="udemysel.udemysel.Assignment2Test"/>
      <class name="udemysel.udemysel.DynamicdropdownTest"/>
      <class name="udemysel.udemysel.SpicejetTest"/>
      <class name="udemysel.udemysel.DynamicTableTest"/>
      <class name="udemysel.udemysel.Assignment1Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
